TELEGRAM_API_ID=25444656
TELEGRAM_API_HASH=92950b3438e3b71016eec1889bdf0189
TELEGRAM_STRING_SESSION=1BQANOTEuMTA4LjU2LjE1MgG7sb943CIGZqCPi7nJQn+qh3n/KHCCWgp22ceXy8Lue/RMSDc1hAJuZNC2CTYVCCBeqFGC/UAMCvsgkmWQoxA9J1aC2C321JtMZwjC59Uk64dc24dTro1knvoP0wYpD7sr0iL3ts8rYvPD4xw4qZFU5IkkiNfNLZ5wwKHCtJwMTAkkMjAG0WoqScM7/9+Hlbt515JvHRI9WwFDvE9z39H7uwXWZJ6C4dSdpzLR3lxhv/C626t29wAygyB5aJPVYou/En0dVPzEKJ1Au8bF9OgXgKS3fmfOjoyjI51veOS+5wxApoOQaJIDi+S51dqIoabQm3vvoPiQ0IHbWj2acxP54w==
TELEGRAM_STRING_SESSION=1BQANOTEuMTA4LjU2LjE3NAG7RKShn40UAMYEKMpITGnCOVcS1RWxWggfWdVoE6uugZcwDnlStpQrR/p/EFJ98nkd6T+iblMSU91MB+VPzTdRXnx1iBf/4f/wgX2GhS0dAfj4uOcBLKsPdOruKFbcljiuAnd4wuLGYcLueTBBO23HOpgwlaMP5wJe5qV8CvoTfl4qNTSanPVqCR/Vq1i8o0GAVs8x3qw/V/qGjmAAbq6D7rEHFOl0SvsurnJkSJIlsWGpCSVoYRQKuSenil+GeLYUHeSSsSveVG3tZdx/8XLqiF4ieUJLB76gRCQW5JOmEIolrtZvlSTAuExG/xBoyn0EVaWhujlGRoiDViJGvZZ+DA==
TELEGRAM_GROUP_ID=-1002282223166 #my channel
TELEGRAM_GROUP_ID=-4664302931 #my group

AI_REPLY_ASSISTANT_URL=https://bolt-ai-reply-assistan-server.vercel.app
